body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 70px 0.5fr 1fr 1fr 1fr 0.5fr 50px;
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    min-width:600px;
}

/* Headshot in the top left */
.headshot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.photo {
    border-radius: 50%;
    height: 95%;
}


/* Header of the document */
header {
    grid-row: 1;
    grid-column: 2/ span 5;
    display: flex;
    align-items: center;
    font-size: 40px;
    line-height: 5px;
    white-space: nowrap;
}


.blurb {
    font-size: 28px;
    font-style: italic;
    line-height: 28px;
    white-space:normal
}



/* Left hand-side navigation bar */
.navbar {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom, white, #00b1f7);
    grid-row: 2 ;
    grid-column: 1/ span 8;

}

.navcontents {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    font-size: 30px;
    text-transform: uppercase; 
}

.navtext:hover {
    text-decoration: underline;
}

/* Images in center */

.divider {
    background-size: cover;
    background-clip: content-box;  
    padding: 10px;
    min-width: 150px;
    min-height: 150px;
    background-position: center;
}


.photo1 {
    grid-row: 4 / span 2;
    grid-column: 2;
    background-image: URL('city.jpeg'); 
    border-right: 5px solid #00b1f7;
    border-bottom : 5px solid #00b1f7;
}

.photo2 {
    grid-row: 4;
    grid-column: 3 /span 2;
    background-image: URL('outback.jpg');
    border-top : 5px solid #00b1f7;
    border-right: 5px solid #00b1f7;
}

.photo3 {
    grid-row: 6;
    grid-column: 2 /span 2;
    background-image: URL('Ocean.jpg');
    border-left: 5px solid #00b1f7;
    border-bottom : 5px solid #00b1f7;
    background-position: center bottom;
}

.photo4 {
    grid-row: 5/ span 2;
    grid-column: 4 ;
    background-image: URL('tree.jpg');
    border-left: 5px solid #00b1f7;
    border-top:  5px solid #00b1f7;
}

.photo5 {
    grid-row: 5 ;
    grid-column: 3;
    background-image: URL('VSCode.webp');
}





/* Footer of the document */
footer {
    grid-row: 8;
    grid-column: 1/span 5;

}

.footerformat {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    background-color: rgb(26, 34, 78);
    color: white;
}

.socailmedialinks {
    height: 30px;
    width: 30px;
    margin: 0 5px;
}

.media {
    font-size: 20px;
    margin: 0 10px;
}

.phonenumber {
    padding: 0 50px;
    font-size: 20px;
}

.contact, .media {
    font-weight: 800;
}

/* Add in the mobile media criteria */

@media only screen and (max-width: 600px) {
    header  {
        font-size: 40px;
    }
    .blurb {
        font-size: 20px;
    }
  }