body {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 100px;
    grid-gap: 5px;
    width: 99vw;
    height: 99vh;
}

/* Headshot in the top left */
headshot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    border-radius: 50%;
    height: 95%;
}


/* Header of the document */
header {
    grid-row: 1;
    grid-column: 2/ span 3;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 0 0 0 15px;

}

.blurb {
    font-size: 28px;
    font-style: italic;
}



/* Left hand-side navigation bar */
.navbar {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right, white, white,  #f12c2c);
    display: flex;
    background-color: m;
    grid-row: 2 / span 3;
    grid-column: 1;
    padding: 0 5px 0 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    list-style-type: none;
    font-size: 26px;
    text-transform: uppercase;    
}

/* About me Section */
.aboutme {
    grid-row: 2/ span 2;
    grid-column: 2 ;
    background-image: url('tree.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutmetext {
    opacity: 1;
}

.navcontents:hover {
    text-decoration: underline;
}



/* Footer of the document */
footer {
    grid-row: 5;
    grid-column: 1/span 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0 20%;
}

